<div class="modal">
  <h1 *ngIf="isAdding">Adding new task</h1>
  <h1 *ngIf="!isAdding">Editing task</h1>
  <form [formGroup]="taskForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="taskForm.get('title')?.hasError('maxlength')">
        <strong>
          Title must be less than
          {{ taskForm.get("title")?.errors?.['maxlength'].requiredLength }}
          characters
        </strong>
      </mat-error>
    </mat-form-field>

    <mat-label>Status</mat-label>
    <mat-radio-group [color]="'primary'" formControlName="status">
      <mat-radio-button [value]="false">Incompleted</mat-radio-button>
      <mat-radio-button [value]="true">Complete</mat-radio-button>
    </mat-radio-group>

    <div class="modal-footer">
      <button
        mat-raised-button
        *ngIf="isAdding"
        color="basic"
        (click)="onAddTask(isAdding)"
      >
        Add
      </button>
      <button
        mat-raised-button
        *ngIf="!isAdding"
        color="basic"
        (click)="onAddTask(isAdding)"
      >
        Update
      </button>

      <button mat-raised-button color="warn" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
