<div class="tasks">
  <h1>Tasks</h1>

  <ng-container *ngIf="isLoading$ | async; else tasksTemplate">
    <i class="fa-solid fa-spinner fa-spin fa-3x"></i>
  </ng-container>

  <ng-template #tasksTemplate>
    <div class="taks-list">
      <button class="btn" (click)="onOpenModal()">
        <i class="fa-regular fa-plus"></i>
        Add new task
      </button>

      <div>
        <div class="task-card" *ngFor="let task of tasks$ | async; index as i">
          <div class="task-details">
            <span class="task-title">Title</span>
            <span class="task-content">{{ task.title }}</span>
          </div>

          <div class="status">
            <span *ngIf="task.status">
              <i class="fa-solid fa-check"></i>
              Completed
            </span>
            <span *ngIf="!task.status">
              <i class="fa-regular fa-circle-xmark"></i>
              Incomplete
            </span>

            <button
              *ngIf="!task.status"
              class="btn-status"
              (click)="onUpdateSatus(task.taskId, task.status)"
            >
              Mark as Completed
            </button>
            <button
              *ngIf="task.status"
              class="btn-status"
              (click)="onUpdateSatus(task.taskId, task.status)"
            >
              Mark as Incomplete
            </button>
          </div>

          <div class="date">
            <span>Created Date</span>
            <div>{{ task.createdDate | date : "dd" }}</div>
            <span>{{ task.createdDate | date : "MMM" }} </span>
          </div>

          <div class="task-actions">
            <div class="task-edit">
              <i
                class="fa-regular fa-pen-to-square"
                (click)="onEditTask(task.taskId)"
              ></i>
            </div>
            <div class="task-delete">
              <i
                class="fa-regular fa-trash-can"
                (click)="onDeleteTask(task.taskId)"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
